body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
}

.contents span{
  visibility: hidden
}

#sidebar{
  width: 25%;
}

#sidebar a{
  visibility: hidden
}

#map{
  width: 75%;
}

.marker {
  background-image: url(./img/marker.svg);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  padding: 1px;
}

.hotelName {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

input{
  background-color: aliceblue;
}

/* Responsive Design CSS */

/* Phones */
@media screen and (max-width: 617px) {

  .title-box{
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in */
  }

  #sidebar a{
    visibility: visible;
  }

  .contents span{
    visibility: visible;
    font-size: 32px;
  }
}

/* Tablets */
@media screen and (min-width: 618px) and (max-width: 1100px) {

  .title-box{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
  }


}

/* Desktop */

@media screen and (min-width: 1101px){
  .title-box{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
  }

}