body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#sidebar{
  width: 25%;
}

#map{
  width: 75%;
}


