body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
}

.contents span{
  visibility: hidden
}

#sidebar{
  width: 25%;
  overflow-y: scroll;
  min-width: 200px;
  max-height: 400px;
  margin-bottom: 200px;
}

#sidebar a{
  visibility: hidden
}

#map{
  width: 75%;
  height: 600px;
}

.hotelName {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

input{
  background-color: aliceblue;
}

/* Responsive Design CSS */

/* Phones */
@media screen and (max-width: 617px) {

  .visible {
    visibility: visible !important;
    }

  .title-box{
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #sidebar{
    height: 100%; 
    width: 40%; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background: white;
    visibility: hidden; 
    padding-top: 60px; 
  }

  #sidebar a{
    visibility: visible;
    font-size: 32px;
  }

}

/* Tablets */
@media screen and (min-width: 618px) and (max-width: 1100px) {

  .title-box{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
  }


}

/* Desktop */

@media screen and (min-width: 1101px){
  .title-box{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
  }

}